<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249088854635-f530f8ivo83aujji01nqru13oc7v6pqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249088854635-f530f8ivo83aujji01nqru13oc7v6pqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDLQWIbymIcdvwRoJig_B-sIXKkYiFTsFs</string>
	<key>GCM_SENDER_ID</key>
	<string>249088854635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifeistech.TaskApp</string>
	<key>PROJECT_ID</key>
	<string>chat-log-e8a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-log-e8a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:249088854635:ios:3a5fff6abbf2d64828ff2e</string>
</dict>
</plist>
